@CHARSET "UTF-8";

.rendezvous a {
	color: #d52b2d;
	text-decoration: none;
}

.rendezvous a:hover {
	color: #f34c38;
	text-decoration: none;
}

.staffSSN {
	margin-top: 1em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	text-align: right;
	color: #e6e6e6;
	font-family: "Avenir Next", Helvetica, "Times New Roman",
		"Franklin Gothic Bold", "Arial Black", "sans-serif";
}

.titleIcon {
	font-family: "Avenir Next", Helvetica, "Times New Roman",
		"Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-align: center;
	font-size: 4em;
	font-weight: 500;
	color: #337bae;
}

.titleText {
	font-family: "Avenir Next", Helvetica, "Times New Roman",
		"Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-align: center;
	font-size: 1.5em;
	font-weight: 500;
	color: #337bae; /*#e8a735;*/
}

.optionContainer {
	padding-top: 2em;
	text-align: center;
	font-family: "Avenir Next", Helvetica, "Times New Roman",
		"Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-weight: 500;
	font-size: 1.1em;
}

.optionContainer2 {
	padding-top: 0.5em;
	padding-bottom: 1em;
	text-align: center;
	font-family: "Avenir Next", Helvetica, "Times New Roman",
		"Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-weight: 500;
	font-size: 1.1em;
}

.textfield {
	width: 16em;
	text-align: center;
}

.error {
	color: red;
	text-align: center;
	font-size: 0.85em;
	font-family: "Avenir Next", Helvetica, "Times New Roman",
		"Franklin Gothic Bold", "Arial Black", "sans-serif";
}

.dataContainer {
	text-align: center;
	font-size: 0.85em;
	font-family: "Avenir Next", Helvetica, "Times New Roman",
		"Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-decoration: none;
	align: center
}

.dataContainer a {
	text-decoration: none;
	color: black;
	cursor: auto;
}

.dataContainer a:hover {
	text-decoration: none;
	color: #337bae;
	cursor: auto;
}