@CHARSET "UTF-8";

/* Body */
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 1100px;
}

/* Title Bar*/
.titleBar {
	width: 100%;
	height: 4em;
	background-color: #e6e6e6;
}

/* Web site Header */
.rendezvous {
	color: #d52b2d;
	font-size: 2em;
	font-weight: 500;
	font-family: "Avenir Next", Helvetica, "Times New Roman",
		"Franklin Gothic Bold", "Arial Black", "sans-serif";
	margin-left: 5%;
	margin-top: -1.6em;
	margin-bottom: 0.2em;
}

/* Search BTN */
.signOut {
	margin-top: -2.65em;
	margin-right: 2em;
	padding: 10px, 12px, 12px, 10px;
	color: white;
	text-align: right;
	font-size: 1em;
	font-weight: 500;
	font-family: "Avenir Next", Helvetica, "Times New Roman",
		"Franklin Gothic Bold", "Arial Black", "sans-serif";
}

/* Buttons */
.signOut a:link, .signOut a:visited {
	border-radius: 10px;
	background-color: #006c84;
	color: white;
	padding: 0.7em 15px;
	text-align: center;
	text-decoration: none;
	cursor: auto;
	opacity: 1.0;
}

.signOut a:hover {
	border-radius: 10px;
	padding: 0.7em 15px;
	text-align: center;
	background-color: #6eb5c0;
	color: white;
}